AI-powered-Resume-Matcher.json
{
  "name": "AI-powered-Resume-Matcher",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume Matching Application",
        "formDescription": "Get job details from user input",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter job title: ",
              "placeholder": "Full Stack Devloper ",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter years of experience: ",
              "fieldType": "number",
              "placeholder": "0",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter required skills: ",
              "placeholder": "Reactjs, NodeJs, Nextjs",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter education requirements: ",
              "placeholder": "1337 ...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -736,
        -192
      ],
      "id": "29159114-52e0-4809-84f4-0b077ca97683",
      "name": "On form submission",
      "webhookId": "a4e3492c-7900-4bff-bbb3-a80bc8f16376"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a hiring manager. I will give you a job description and a resume.\nyou will pick the most relevant resume from the list of resumes to you get from tool Answer questions with a vector store.\nthe result should be in email format to send it mail",
        "options": {
          "systemMessage": "=For a  {{ $json['Enter job title: '] }} position requiring  {{ $json['Enter years of experience: '] }} years of experience,  with required skills:{{ $json['Enter required skills: '] }}, and education: {{ $json['Enter education requirements: '] }},\n Base your decision on how many years of experience the candidate has, what skills are relevant,\n what education is relevant, and compare companies that the candidate worked at."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -496,
        -112
      ],
      "id": "003adb5a-fcd4-4273-8a60-a7b2e232d948",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        160
      ],
      "id": "030628aa-2b4d-4849-993f-c7d2548095ad",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CyhKoEAobBv0M4uI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents relatet to resumes info and everything important from the vectores store",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -240,
        208
      ],
      "id": "f0cd2d3e-701a-42fb-990d-5d596db14605",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        400
      ],
      "id": "845c2a56-ae14-4753-aaaf-4e49022d5a1e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CyhKoEAobBv0M4uI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "resumes",
          "mode": "list",
          "cachedResultName": "resumes"
        },
        "options": {
          "pineconeNamespace": "resumes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -480,
        352
      ],
      "id": "ca6c822b-c986-457b-bdf7-fe5409a60111",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lCpMw4v0HtV8elsE",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        496
      ],
      "id": "b25af563-2d55-4544-bebf-b270192ee23c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CyhKoEAobBv0M4uI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "selhamr9@gmail.com",
        "subject": "=Candidate Recommendation {{ $('On form submission').item.json['Enter job title: '] }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "id": "e0a0a7c2-c4d2-4e30-a80c-4c709ffb2c08",
      "name": "Send a message",
      "webhookId": "5b4fc024-03b7-4a70-a1bd-728ed3a3b21e",
      "credentials": {
        "gmailOAuth2": {
          "id": "krXs3kV7sK3RQiII",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10214ead-ab78-4a89-85c7-89c66331e86e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3688739b9fd8839d9eee7ca3e2ed7f5f4a95a6806a0239499ed909049d9c687f"
  },
  "id": "aB63gd9YTAsG3JaL",
  "tags": []
}